$total-columns: 24;
@import 'foundation/components/grid';
$dark-color: #222;

* {
  user-select: none;
}

html, body, main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: $dark-color;
  text-rendering: optimizeLegibility;
  background-color: #fcfcfc;
  min-width: 1110px;
}

#front-door {
  background-color: $dark-color;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  animation-name: fadeout;
  animation-delay: .29s;
  animation-duration: 1.45s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

main {
  overflow-x: scroll;
  padding: 36px 48px;
}

a {
  text-decoration: none;
}

.btn {
  border: 3px solid $dark-color;
  padding: 10px 20px 8px 20px;
  font-size: 15px;
  text-transform: uppercase;
}

textarea {
  border: 3px solid $dark-color;
  background-color: transparent;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}

button {
  border: 3px solid $dark-color;
  background-color: transparent;
  &:focus {
    outline: none;
  }
  &:disabled {
    color: #a9a9a9;
  }
}

.clear {
  clear: both;
}

.center {
  margin: 0 auto;
}

.container {
  height: 100%;
  position: relative;
}

#videos {
  padding-right: 12px;
}

.video {
  overflow: hidden;
  border: 3px $dark-color solid;
  background-color: white;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%
}

.remote-stream {
  height: 61%;
}

#btns-and-local-stream {
  height: 39%;
  padding-bottom: 24px;
}

#brand-and-btns {
  height: 100%;
  position: relative;
  padding-right: 24px;
}

#brand-container {
  position: relative;
  height: calc(100% - 150px);
  width: 100%;
  z-index: 1;
  font-family: "europa";
  color: white;
  font-size: 35px;
  letter-spacing: 4px;
  background-color: $dark-color;
  overflow: hidden;
}

#brand {
  width: 100%;
  height: 100%;
  transition: transform .9s ease;
}

#brand .brand-side {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  & > span {
    align-self: center;
    font-size: 24px;
  }
}

#brand-container:hover #brand {
  transform: translateY(-100%);
}

#social-media-icons {
  margin: 0 20px;
  font-size: 53px;
  width: 100%;
  text-align: center;
  margin-top: -3px;
}

#social-media-icons .icon {
  width: 33%;
  display: inline-block;
  margin-top: -5px;
  a {
    color: white;
  }
}

#btns {
  padding-top: 24px;
  height: 150px;
}

#auth-btn {
  height: 50%;
  width: 100%;
  border: 3px solid $dark-color;
  border-bottom: 2px solid $dark-color;
  display: flex;
  justify-content: center;
  background-color: white;
}

#auth-btn button {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border: none;
  font-family: "europa";
  font-size: 17px;
  color: $dark-color;
  &:disabled {
    color: #aaa;
    cursor: default;
  }
}

#chat-btns .btn {
  background-color: white;
  text-align: center;
  display: inline-block;
  width: 50%;
  height: 100%;
  border: none;
  padding: 0;
  position: relative;
  button {
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: none;
    font-family: "europa";
    font-size: 17px;
    color: $dark-color;
    position: relative;
    z-index: 2;
    &:disabled {
      color: #aaa;
      cursor: default;
    }
    &.pulse {
      color: white;
    }
    &.pulse-add {
      transition: 1.5s all ease;
      transition-delay: .5s;
    }
  }
}

#chat-btns .btn .gradient {
  background: rgb(232,145,102); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(232,145,102,1) 0%, rgba(246,207,192,1) 14%, rgba(246,215,210,1) 23%, rgba(215,183,221,1) 41%, rgba(166,151,211,1) 51%, rgba(135,132,194,1) 63%, rgba(84,92,162,1) 73%, rgba(47,61,117,1) 83%, rgba(41,49,99,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(232,145,102,1)), color-stop(14%,rgba(246,207,192,1)), color-stop(23%,rgba(246,215,210,1)), color-stop(41%,rgba(215,183,221,1)), color-stop(51%,rgba(166,151,211,1)), color-stop(63%,rgba(135,132,194,1)), color-stop(73%,rgba(84,92,162,1)), color-stop(83%,rgba(47,61,117,1)), color-stop(100%,rgba(41,49,99,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(232,145,102,1) 0%,rgba(246,207,192,1) 14%,rgba(246,215,210,1) 23%,rgba(215,183,221,1) 41%,rgba(166,151,211,1) 51%,rgba(135,132,194,1) 63%,rgba(84,92,162,1) 73%,rgba(47,61,117,1) 83%,rgba(41,49,99,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(232,145,102,1) 0%,rgba(246,207,192,1) 14%,rgba(246,215,210,1) 23%,rgba(215,183,221,1) 41%,rgba(166,151,211,1) 51%,rgba(135,132,194,1) 63%,rgba(84,92,162,1) 73%,rgba(47,61,117,1) 83%,rgba(41,49,99,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(232,145,102,1) 0%,rgba(246,207,192,1) 14%,rgba(246,215,210,1) 23%,rgba(215,183,221,1) 41%,rgba(166,151,211,1) 51%,rgba(135,132,194,1) 63%,rgba(84,92,162,1) 73%,rgba(47,61,117,1) 83%,rgba(41,49,99,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(232,145,102,1) 0%,rgba(246,207,192,1) 14%,rgba(246,215,210,1) 23%,rgba(215,183,221,1) 41%,rgba(166,151,211,1) 51%,rgba(135,132,194,1) 63%,rgba(84,92,162,1) 73%,rgba(47,61,117,1) 83%,rgba(41,49,99,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e89166', endColorstr='#293163',GradientType=1 ); /* IE6-9 */
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  &.pulse {
    opacity: 1;
  }
  &.pulse-add {
    transition: 1.5s opacity ease;
    transition-delay: .5s;
  }
  &.pulse-remove {
    transition: 0.5s linear;
  }
}

#chat-btns .btn.half {
  position: relative;
  width: 25%;
}

#chat-btns .btn + .btn {
  border-left: 3px solid $dark-color;
  margin-left: -4px;
}

#chat-btns-wrapper {
  height: 50%;
  width: 100%;
  border: 3px solid $dark-color;
  border-top: 1px solid $dark-color;
  overflow: hidden;
}

#chat-btns {
  width: 200%;
  height: 100%;
}

#chat-btns #first-chat-btn.half-add {
  transition: 1.2s;
  width: 50%;
}

#chat-btns #first-chat-btn.half-add-active {
  width: 25%;
}

#chat-btns #first-chat-btn.half-remove {
  transition: .8s;
  width: 25%;
}

#chat-btns #first-chat-btn.half-remove-active {
  width: 50%;
}

.local-stream {
  height: 100%;
}

#chat {
  padding-left: 12px;
}

#landing-page {
  padding: 24px 30px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  h1 {
    margin-top: 10px;
    font-size: 41px;
    line-height: 48px;
    margin-bottom: 26px;
    position: relative;
    z-index: 2;
  }
  h2 {
    margin-top: 28px;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 0;
    font-weight: 500;
    position: relative;
    z-index: 2;
  }
  #fb-login-container {
    user-select: none;
    margin-top: 96px;
    background-color: #37569a;
    width: 298px;
    height: 55px;
    overflow: hidden;
    color: white;
    padding: 15px;
    padding-top: 8px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: .4s ease;
    #fb-login {
      transition: .4s ease;
    }
    &:hover {
      background-color: #4868af;
      #fb-login {
        transform: translateY(-50%);
      }
    }
    #fb-login-side {
      height: 55px;
    }
    #fb-login-icon {
      height: 20px;
      margin-right: 20px;
      margin-left: 3px;
      margin-bottom: 4px;
    }
    span {
      -webkit-font-smoothing: antialiased;
      margin-right: 11px;
      font-size: 21px;
    }
  }
}

#landing-page.ng-hide-add, #landing-page.ng-hide-remove {
  transition: 0.5s linear;

  display: block !important;
  opacity: 1;
}

#landing-page.ng-hide {
  opacity: 0;
}

#chat-border {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 3px solid $dark-color;
}

#gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(41,49,99); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(41,49,99,1) 0%, rgba(47,61,117,1) 17%, rgba(84,92,162,1) 27%, rgba(135,132,194,1) 37%, rgba(166,151,211,1) 49%, rgba(215,183,221,1) 59%, rgba(246,215,210,1) 77%, rgba(246,207,192,1) 86%, rgba(232,145,102,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,49,99,1)), color-stop(17%,rgba(47,61,117,1)), color-stop(27%,rgba(84,92,162,1)), color-stop(37%,rgba(135,132,194,1)), color-stop(49%,rgba(166,151,211,1)), color-stop(59%,rgba(215,183,221,1)), color-stop(77%,rgba(246,215,210,1)), color-stop(86%,rgba(246,207,192,1)), color-stop(100%,rgba(232,145,102,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(41,49,99,1) 0%,rgba(47,61,117,1) 17%,rgba(84,92,162,1) 27%,rgba(135,132,194,1) 37%,rgba(166,151,211,1) 49%,rgba(215,183,221,1) 59%,rgba(246,215,210,1) 77%,rgba(246,207,192,1) 86%,rgba(232,145,102,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(41,49,99,1) 0%,rgba(47,61,117,1) 17%,rgba(84,92,162,1) 27%,rgba(135,132,194,1) 37%,rgba(166,151,211,1) 49%,rgba(215,183,221,1) 59%,rgba(246,215,210,1) 77%,rgba(246,207,192,1) 86%,rgba(232,145,102,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(41,49,99,1) 0%,rgba(47,61,117,1) 17%,rgba(84,92,162,1) 27%,rgba(135,132,194,1) 37%,rgba(166,151,211,1) 49%,rgba(215,183,221,1) 59%,rgba(246,215,210,1) 77%,rgba(246,207,192,1) 86%,rgba(232,145,102,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(41,49,99,1) 0%,rgba(47,61,117,1) 17%,rgba(84,92,162,1) 27%,rgba(135,132,194,1) 37%,rgba(166,151,211,1) 49%,rgba(215,183,221,1) 59%,rgba(246,215,210,1) 77%,rgba(246,207,192,1) 86%,rgba(232,145,102,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#293163', endColorstr='#e89166',GradientType=0 ); /* IE6-9 */
}

#gradient-shadows {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('/images/white_shadows.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.4;
}

#msgs {
  overflow-y: scroll;
  height: calc(100% - 75px);
}

#send-msg-form {
  border-top: 3px solid $dark-color;
  width: 100%;
  height: 75px;
  position: relative;
  background-color: white;
}

#send-msg-form.ng-hide-add, #send-msg-form.ng-hide-remove {
  transition: 0.8s ease;

  display: block !important;
  top: 0px;
}

#send-msg-form.ng-hide {
  top: 75px;
}

#send-msg-form textarea {
  resize: none;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  padding: 12px 20px;
  font-size: 14px;
  border: none;
  font: -webkit-control;
  min-height: 0;
}

#msgs .msg:first-child {
  margin-bottom: 10px;
}

#msgs .msg:last-child {
  margin-bottom: 15px;
}

.msg {
  font-size: 14px;
  position: relative;
  &.new-msger {
    margin-top: 15px;
  }
}

.msg-info .msg-username, .msg-info .msg-time, .msg .msg-payload {
  user-select: text;
}

.msg-info {
  position: absolute;
  width: 54px;
  top: 6px;
  font-size: 12px;
  text-align: right;
  padding-left: 13px;
  font-weight: bold;
}

.msg-info .msg-time {
  display: none;
}

.msg .msg-payload {
  padding: 4px 20px;
  line-height: 19px;
  // to simulate indenting of all lines except first
  margin-left: 60px;
  text-indent: -13px;
}

.spinner {
  margin: 165px auto 0;
  width: 116px;
  text-align: center;
}

.spinner > div {
  width: 15px;
  height: 14px;
  margin: 0 10px;
  border-radius: 2px;

  display: inline-block;
  /* Prevent first frame from flickering when animation starts */
}

.spinner .bounce1 {
  animation: bouncedelay-blue 1.4s infinite ease;
  animation-fill-mode: both;
  animation-delay: 1.8s;
}

.spinner .bounce2 {
  animation: bouncedelay-purple 1.4s infinite ease;
  animation-fill-mode: both;
  animation-delay: 2.1s;
}

.spinner .bounce3 {
  animation: bouncedelay-orange 1.4s infinite ease;
  animation-fill-mode: both;
  animation-delay: 2.4s;
}

@keyframes bouncedelay-blue {
  0%, 80%, 100% {
    transform: scale(0.2);
    background-color: #fff;
  }

  40% {
    transform: scale(1.0);
    background-color: #24306e;
  }
}

@keyframes bouncedelay-purple {
  0%, 80%, 100% {
    transform: scale(0.2);
    background-color: #fff;
  }

  40% {
    transform: scale(1.0);
    background-color: #b698dc;
  }
}

@keyframes bouncedelay-orange {
  0%, 80%, 100% {
    transform: scale(0.2);
    background-color: #fff;
  }

  40% {
    transform: scale(1.0);
    background-color: #ff9f6e;
  }
}