@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em;
}

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em) and (max-width:64em)/";
  width: 40.063em;
}

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em;
}

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em;
}

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

a:hover {
  cursor: pointer;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

object,
embed {
  height: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row.collapse > .column,
.row.collapse > .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}
.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}
.row .row {
  width: auto;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}
.row .row:before, .row .row:after {
  content: " ";
  display: table;
}
.row .row:after {
  clear: both;
}
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}
.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}
.row .row.collapse:after {
  clear: both;
}

.column,
.columns {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}

@media only screen {
  .small-push-1 {
    position: relative;
    left: 4.16667%;
    right: auto;
  }

  .small-pull-1 {
    position: relative;
    right: 4.16667%;
    left: auto;
  }

  .small-push-2 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .small-pull-2 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .small-push-3 {
    position: relative;
    left: 12.5%;
    right: auto;
  }

  .small-pull-3 {
    position: relative;
    right: 12.5%;
    left: auto;
  }

  .small-push-4 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .small-pull-4 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .small-push-5 {
    position: relative;
    left: 20.83333%;
    right: auto;
  }

  .small-pull-5 {
    position: relative;
    right: 20.83333%;
    left: auto;
  }

  .small-push-6 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .small-pull-6 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .small-push-7 {
    position: relative;
    left: 29.16667%;
    right: auto;
  }

  .small-pull-7 {
    position: relative;
    right: 29.16667%;
    left: auto;
  }

  .small-push-8 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .small-pull-8 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .small-push-9 {
    position: relative;
    left: 37.5%;
    right: auto;
  }

  .small-pull-9 {
    position: relative;
    right: 37.5%;
    left: auto;
  }

  .small-push-10 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .small-pull-10 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .small-push-11 {
    position: relative;
    left: 45.83333%;
    right: auto;
  }

  .small-pull-11 {
    position: relative;
    right: 45.83333%;
    left: auto;
  }

  .small-push-12 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .small-pull-12 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .small-push-13 {
    position: relative;
    left: 54.16667%;
    right: auto;
  }

  .small-pull-13 {
    position: relative;
    right: 54.16667%;
    left: auto;
  }

  .small-push-14 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .small-pull-14 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .small-push-15 {
    position: relative;
    left: 62.5%;
    right: auto;
  }

  .small-pull-15 {
    position: relative;
    right: 62.5%;
    left: auto;
  }

  .small-push-16 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .small-pull-16 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .small-push-17 {
    position: relative;
    left: 70.83333%;
    right: auto;
  }

  .small-pull-17 {
    position: relative;
    right: 70.83333%;
    left: auto;
  }

  .small-push-18 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .small-pull-18 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .small-push-19 {
    position: relative;
    left: 79.16667%;
    right: auto;
  }

  .small-pull-19 {
    position: relative;
    right: 79.16667%;
    left: auto;
  }

  .small-push-20 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .small-pull-20 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .small-push-21 {
    position: relative;
    left: 87.5%;
    right: auto;
  }

  .small-pull-21 {
    position: relative;
    right: 87.5%;
    left: auto;
  }

  .small-push-22 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .small-pull-22 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  .small-push-23 {
    position: relative;
    left: 95.83333%;
    right: auto;
  }

  .small-pull-23 {
    position: relative;
    right: 95.83333%;
    left: auto;
  }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  .small-1 {
    position: relative;
    width: 4.16667%;
  }

  .small-2 {
    position: relative;
    width: 8.33333%;
  }

  .small-3 {
    position: relative;
    width: 12.5%;
  }

  .small-4 {
    position: relative;
    width: 16.66667%;
  }

  .small-5 {
    position: relative;
    width: 20.83333%;
  }

  .small-6 {
    position: relative;
    width: 25%;
  }

  .small-7 {
    position: relative;
    width: 29.16667%;
  }

  .small-8 {
    position: relative;
    width: 33.33333%;
  }

  .small-9 {
    position: relative;
    width: 37.5%;
  }

  .small-10 {
    position: relative;
    width: 41.66667%;
  }

  .small-11 {
    position: relative;
    width: 45.83333%;
  }

  .small-12 {
    position: relative;
    width: 50%;
  }

  .small-13 {
    position: relative;
    width: 54.16667%;
  }

  .small-14 {
    position: relative;
    width: 58.33333%;
  }

  .small-15 {
    position: relative;
    width: 62.5%;
  }

  .small-16 {
    position: relative;
    width: 66.66667%;
  }

  .small-17 {
    position: relative;
    width: 70.83333%;
  }

  .small-18 {
    position: relative;
    width: 75%;
  }

  .small-19 {
    position: relative;
    width: 79.16667%;
  }

  .small-20 {
    position: relative;
    width: 83.33333%;
  }

  .small-21 {
    position: relative;
    width: 87.5%;
  }

  .small-22 {
    position: relative;
    width: 91.66667%;
  }

  .small-23 {
    position: relative;
    width: 95.83333%;
  }

  .small-24 {
    position: relative;
    width: 100%;
  }

  .small-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  .small-offset-1 {
    position: relative;
    margin-left: 4.16667%;
  }

  .small-offset-2 {
    position: relative;
    margin-left: 8.33333%;
  }

  .small-offset-3 {
    position: relative;
    margin-left: 12.5%;
  }

  .small-offset-4 {
    position: relative;
    margin-left: 16.66667%;
  }

  .small-offset-5 {
    position: relative;
    margin-left: 20.83333%;
  }

  .small-offset-6 {
    position: relative;
    margin-left: 25%;
  }

  .small-offset-7 {
    position: relative;
    margin-left: 29.16667%;
  }

  .small-offset-8 {
    position: relative;
    margin-left: 33.33333%;
  }

  .small-offset-9 {
    position: relative;
    margin-left: 37.5%;
  }

  .small-offset-10 {
    position: relative;
    margin-left: 41.66667%;
  }

  .small-offset-11 {
    position: relative;
    margin-left: 45.83333%;
  }

  .small-offset-12 {
    position: relative;
    margin-left: 50%;
  }

  .small-offset-13 {
    position: relative;
    margin-left: 54.16667%;
  }

  .small-offset-14 {
    position: relative;
    margin-left: 58.33333%;
  }

  .small-offset-15 {
    position: relative;
    margin-left: 62.5%;
  }

  .small-offset-16 {
    position: relative;
    margin-left: 66.66667%;
  }

  .small-offset-17 {
    position: relative;
    margin-left: 70.83333%;
  }

  .small-offset-18 {
    position: relative;
    margin-left: 75%;
  }

  .small-offset-19 {
    position: relative;
    margin-left: 79.16667%;
  }

  .small-offset-20 {
    position: relative;
    margin-left: 83.33333%;
  }

  .small-offset-21 {
    position: relative;
    margin-left: 87.5%;
  }

  .small-offset-22 {
    position: relative;
    margin-left: 91.66667%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .column.small-centered,
  .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  .column.small-uncentered,
  .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }

  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right !important;
  }
}
@media only screen and (min-width: 40.063em) {
  .medium-push-1 {
    position: relative;
    left: 4.16667%;
    right: auto;
  }

  .medium-pull-1 {
    position: relative;
    right: 4.16667%;
    left: auto;
  }

  .medium-push-2 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .medium-pull-2 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .medium-push-3 {
    position: relative;
    left: 12.5%;
    right: auto;
  }

  .medium-pull-3 {
    position: relative;
    right: 12.5%;
    left: auto;
  }

  .medium-push-4 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .medium-pull-4 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .medium-push-5 {
    position: relative;
    left: 20.83333%;
    right: auto;
  }

  .medium-pull-5 {
    position: relative;
    right: 20.83333%;
    left: auto;
  }

  .medium-push-6 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .medium-pull-6 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .medium-push-7 {
    position: relative;
    left: 29.16667%;
    right: auto;
  }

  .medium-pull-7 {
    position: relative;
    right: 29.16667%;
    left: auto;
  }

  .medium-push-8 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .medium-pull-8 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .medium-push-9 {
    position: relative;
    left: 37.5%;
    right: auto;
  }

  .medium-pull-9 {
    position: relative;
    right: 37.5%;
    left: auto;
  }

  .medium-push-10 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .medium-pull-10 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .medium-push-11 {
    position: relative;
    left: 45.83333%;
    right: auto;
  }

  .medium-pull-11 {
    position: relative;
    right: 45.83333%;
    left: auto;
  }

  .medium-push-12 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .medium-pull-12 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .medium-push-13 {
    position: relative;
    left: 54.16667%;
    right: auto;
  }

  .medium-pull-13 {
    position: relative;
    right: 54.16667%;
    left: auto;
  }

  .medium-push-14 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .medium-pull-14 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .medium-push-15 {
    position: relative;
    left: 62.5%;
    right: auto;
  }

  .medium-pull-15 {
    position: relative;
    right: 62.5%;
    left: auto;
  }

  .medium-push-16 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .medium-pull-16 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .medium-push-17 {
    position: relative;
    left: 70.83333%;
    right: auto;
  }

  .medium-pull-17 {
    position: relative;
    right: 70.83333%;
    left: auto;
  }

  .medium-push-18 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .medium-pull-18 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .medium-push-19 {
    position: relative;
    left: 79.16667%;
    right: auto;
  }

  .medium-pull-19 {
    position: relative;
    right: 79.16667%;
    left: auto;
  }

  .medium-push-20 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .medium-pull-20 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .medium-push-21 {
    position: relative;
    left: 87.5%;
    right: auto;
  }

  .medium-pull-21 {
    position: relative;
    right: 87.5%;
    left: auto;
  }

  .medium-push-22 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .medium-pull-22 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  .medium-push-23 {
    position: relative;
    left: 95.83333%;
    right: auto;
  }

  .medium-pull-23 {
    position: relative;
    right: 95.83333%;
    left: auto;
  }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  .medium-1 {
    position: relative;
    width: 4.16667%;
  }

  .medium-2 {
    position: relative;
    width: 8.33333%;
  }

  .medium-3 {
    position: relative;
    width: 12.5%;
  }

  .medium-4 {
    position: relative;
    width: 16.66667%;
  }

  .medium-5 {
    position: relative;
    width: 20.83333%;
  }

  .medium-6 {
    position: relative;
    width: 25%;
  }

  .medium-7 {
    position: relative;
    width: 29.16667%;
  }

  .medium-8 {
    position: relative;
    width: 33.33333%;
  }

  .medium-9 {
    position: relative;
    width: 37.5%;
  }

  .medium-10 {
    position: relative;
    width: 41.66667%;
  }

  .medium-11 {
    position: relative;
    width: 45.83333%;
  }

  .medium-12 {
    position: relative;
    width: 50%;
  }

  .medium-13 {
    position: relative;
    width: 54.16667%;
  }

  .medium-14 {
    position: relative;
    width: 58.33333%;
  }

  .medium-15 {
    position: relative;
    width: 62.5%;
  }

  .medium-16 {
    position: relative;
    width: 66.66667%;
  }

  .medium-17 {
    position: relative;
    width: 70.83333%;
  }

  .medium-18 {
    position: relative;
    width: 75%;
  }

  .medium-19 {
    position: relative;
    width: 79.16667%;
  }

  .medium-20 {
    position: relative;
    width: 83.33333%;
  }

  .medium-21 {
    position: relative;
    width: 87.5%;
  }

  .medium-22 {
    position: relative;
    width: 91.66667%;
  }

  .medium-23 {
    position: relative;
    width: 95.83333%;
  }

  .medium-24 {
    position: relative;
    width: 100%;
  }

  .medium-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  .medium-offset-1 {
    position: relative;
    margin-left: 4.16667%;
  }

  .medium-offset-2 {
    position: relative;
    margin-left: 8.33333%;
  }

  .medium-offset-3 {
    position: relative;
    margin-left: 12.5%;
  }

  .medium-offset-4 {
    position: relative;
    margin-left: 16.66667%;
  }

  .medium-offset-5 {
    position: relative;
    margin-left: 20.83333%;
  }

  .medium-offset-6 {
    position: relative;
    margin-left: 25%;
  }

  .medium-offset-7 {
    position: relative;
    margin-left: 29.16667%;
  }

  .medium-offset-8 {
    position: relative;
    margin-left: 33.33333%;
  }

  .medium-offset-9 {
    position: relative;
    margin-left: 37.5%;
  }

  .medium-offset-10 {
    position: relative;
    margin-left: 41.66667%;
  }

  .medium-offset-11 {
    position: relative;
    margin-left: 45.83333%;
  }

  .medium-offset-12 {
    position: relative;
    margin-left: 50%;
  }

  .medium-offset-13 {
    position: relative;
    margin-left: 54.16667%;
  }

  .medium-offset-14 {
    position: relative;
    margin-left: 58.33333%;
  }

  .medium-offset-15 {
    position: relative;
    margin-left: 62.5%;
  }

  .medium-offset-16 {
    position: relative;
    margin-left: 66.66667%;
  }

  .medium-offset-17 {
    position: relative;
    margin-left: 70.83333%;
  }

  .medium-offset-18 {
    position: relative;
    margin-left: 75%;
  }

  .medium-offset-19 {
    position: relative;
    margin-left: 79.16667%;
  }

  .medium-offset-20 {
    position: relative;
    margin-left: 83.33333%;
  }

  .medium-offset-21 {
    position: relative;
    margin-left: 87.5%;
  }

  .medium-offset-22 {
    position: relative;
    margin-left: 91.66667%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .column.medium-centered,
  .columns.medium-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  .column.medium-uncentered,
  .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }

  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right !important;
  }

  .push-1 {
    position: relative;
    left: 4.16667%;
    right: auto;
  }

  .pull-1 {
    position: relative;
    right: 4.16667%;
    left: auto;
  }

  .push-2 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .pull-2 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .push-3 {
    position: relative;
    left: 12.5%;
    right: auto;
  }

  .pull-3 {
    position: relative;
    right: 12.5%;
    left: auto;
  }

  .push-4 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .pull-4 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .push-5 {
    position: relative;
    left: 20.83333%;
    right: auto;
  }

  .pull-5 {
    position: relative;
    right: 20.83333%;
    left: auto;
  }

  .push-6 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .pull-6 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .push-7 {
    position: relative;
    left: 29.16667%;
    right: auto;
  }

  .pull-7 {
    position: relative;
    right: 29.16667%;
    left: auto;
  }

  .push-8 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .pull-8 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .push-9 {
    position: relative;
    left: 37.5%;
    right: auto;
  }

  .pull-9 {
    position: relative;
    right: 37.5%;
    left: auto;
  }

  .push-10 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .pull-10 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .push-11 {
    position: relative;
    left: 45.83333%;
    right: auto;
  }

  .pull-11 {
    position: relative;
    right: 45.83333%;
    left: auto;
  }

  .push-12 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .pull-12 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .push-13 {
    position: relative;
    left: 54.16667%;
    right: auto;
  }

  .pull-13 {
    position: relative;
    right: 54.16667%;
    left: auto;
  }

  .push-14 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .pull-14 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .push-15 {
    position: relative;
    left: 62.5%;
    right: auto;
  }

  .pull-15 {
    position: relative;
    right: 62.5%;
    left: auto;
  }

  .push-16 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .pull-16 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .push-17 {
    position: relative;
    left: 70.83333%;
    right: auto;
  }

  .pull-17 {
    position: relative;
    right: 70.83333%;
    left: auto;
  }

  .push-18 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .pull-18 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .push-19 {
    position: relative;
    left: 79.16667%;
    right: auto;
  }

  .pull-19 {
    position: relative;
    right: 79.16667%;
    left: auto;
  }

  .push-20 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .pull-20 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .push-21 {
    position: relative;
    left: 87.5%;
    right: auto;
  }

  .pull-21 {
    position: relative;
    right: 87.5%;
    left: auto;
  }

  .push-22 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .pull-22 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  .push-23 {
    position: relative;
    left: 95.83333%;
    right: auto;
  }

  .pull-23 {
    position: relative;
    right: 95.83333%;
    left: auto;
  }
}
@media only screen and (min-width: 64.063em) {
  .large-push-1 {
    position: relative;
    left: 4.16667%;
    right: auto;
  }

  .large-pull-1 {
    position: relative;
    right: 4.16667%;
    left: auto;
  }

  .large-push-2 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .large-pull-2 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .large-push-3 {
    position: relative;
    left: 12.5%;
    right: auto;
  }

  .large-pull-3 {
    position: relative;
    right: 12.5%;
    left: auto;
  }

  .large-push-4 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .large-pull-4 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .large-push-5 {
    position: relative;
    left: 20.83333%;
    right: auto;
  }

  .large-pull-5 {
    position: relative;
    right: 20.83333%;
    left: auto;
  }

  .large-push-6 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .large-pull-6 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .large-push-7 {
    position: relative;
    left: 29.16667%;
    right: auto;
  }

  .large-pull-7 {
    position: relative;
    right: 29.16667%;
    left: auto;
  }

  .large-push-8 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .large-pull-8 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .large-push-9 {
    position: relative;
    left: 37.5%;
    right: auto;
  }

  .large-pull-9 {
    position: relative;
    right: 37.5%;
    left: auto;
  }

  .large-push-10 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .large-pull-10 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .large-push-11 {
    position: relative;
    left: 45.83333%;
    right: auto;
  }

  .large-pull-11 {
    position: relative;
    right: 45.83333%;
    left: auto;
  }

  .large-push-12 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .large-pull-12 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .large-push-13 {
    position: relative;
    left: 54.16667%;
    right: auto;
  }

  .large-pull-13 {
    position: relative;
    right: 54.16667%;
    left: auto;
  }

  .large-push-14 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .large-pull-14 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .large-push-15 {
    position: relative;
    left: 62.5%;
    right: auto;
  }

  .large-pull-15 {
    position: relative;
    right: 62.5%;
    left: auto;
  }

  .large-push-16 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .large-pull-16 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .large-push-17 {
    position: relative;
    left: 70.83333%;
    right: auto;
  }

  .large-pull-17 {
    position: relative;
    right: 70.83333%;
    left: auto;
  }

  .large-push-18 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .large-pull-18 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .large-push-19 {
    position: relative;
    left: 79.16667%;
    right: auto;
  }

  .large-pull-19 {
    position: relative;
    right: 79.16667%;
    left: auto;
  }

  .large-push-20 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .large-pull-20 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .large-push-21 {
    position: relative;
    left: 87.5%;
    right: auto;
  }

  .large-pull-21 {
    position: relative;
    right: 87.5%;
    left: auto;
  }

  .large-push-22 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .large-pull-22 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  .large-push-23 {
    position: relative;
    left: 95.83333%;
    right: auto;
  }

  .large-pull-23 {
    position: relative;
    right: 95.83333%;
    left: auto;
  }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  .large-1 {
    position: relative;
    width: 4.16667%;
  }

  .large-2 {
    position: relative;
    width: 8.33333%;
  }

  .large-3 {
    position: relative;
    width: 12.5%;
  }

  .large-4 {
    position: relative;
    width: 16.66667%;
  }

  .large-5 {
    position: relative;
    width: 20.83333%;
  }

  .large-6 {
    position: relative;
    width: 25%;
  }

  .large-7 {
    position: relative;
    width: 29.16667%;
  }

  .large-8 {
    position: relative;
    width: 33.33333%;
  }

  .large-9 {
    position: relative;
    width: 37.5%;
  }

  .large-10 {
    position: relative;
    width: 41.66667%;
  }

  .large-11 {
    position: relative;
    width: 45.83333%;
  }

  .large-12 {
    position: relative;
    width: 50%;
  }

  .large-13 {
    position: relative;
    width: 54.16667%;
  }

  .large-14 {
    position: relative;
    width: 58.33333%;
  }

  .large-15 {
    position: relative;
    width: 62.5%;
  }

  .large-16 {
    position: relative;
    width: 66.66667%;
  }

  .large-17 {
    position: relative;
    width: 70.83333%;
  }

  .large-18 {
    position: relative;
    width: 75%;
  }

  .large-19 {
    position: relative;
    width: 79.16667%;
  }

  .large-20 {
    position: relative;
    width: 83.33333%;
  }

  .large-21 {
    position: relative;
    width: 87.5%;
  }

  .large-22 {
    position: relative;
    width: 91.66667%;
  }

  .large-23 {
    position: relative;
    width: 95.83333%;
  }

  .large-24 {
    position: relative;
    width: 100%;
  }

  .large-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  .large-offset-1 {
    position: relative;
    margin-left: 4.16667%;
  }

  .large-offset-2 {
    position: relative;
    margin-left: 8.33333%;
  }

  .large-offset-3 {
    position: relative;
    margin-left: 12.5%;
  }

  .large-offset-4 {
    position: relative;
    margin-left: 16.66667%;
  }

  .large-offset-5 {
    position: relative;
    margin-left: 20.83333%;
  }

  .large-offset-6 {
    position: relative;
    margin-left: 25%;
  }

  .large-offset-7 {
    position: relative;
    margin-left: 29.16667%;
  }

  .large-offset-8 {
    position: relative;
    margin-left: 33.33333%;
  }

  .large-offset-9 {
    position: relative;
    margin-left: 37.5%;
  }

  .large-offset-10 {
    position: relative;
    margin-left: 41.66667%;
  }

  .large-offset-11 {
    position: relative;
    margin-left: 45.83333%;
  }

  .large-offset-12 {
    position: relative;
    margin-left: 50%;
  }

  .large-offset-13 {
    position: relative;
    margin-left: 54.16667%;
  }

  .large-offset-14 {
    position: relative;
    margin-left: 58.33333%;
  }

  .large-offset-15 {
    position: relative;
    margin-left: 62.5%;
  }

  .large-offset-16 {
    position: relative;
    margin-left: 66.66667%;
  }

  .large-offset-17 {
    position: relative;
    margin-left: 70.83333%;
  }

  .large-offset-18 {
    position: relative;
    margin-left: 75%;
  }

  .large-offset-19 {
    position: relative;
    margin-left: 79.16667%;
  }

  .large-offset-20 {
    position: relative;
    margin-left: 83.33333%;
  }

  .large-offset-21 {
    position: relative;
    margin-left: 87.5%;
  }

  .large-offset-22 {
    position: relative;
    margin-left: 91.66667%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .column.large-centered,
  .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }

  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right !important;
  }
}
@media only screen and (min-width: 90.063em) {
  .xlarge-push-1 {
    position: relative;
    left: 4.16667%;
    right: auto;
  }

  .xlarge-pull-1 {
    position: relative;
    right: 4.16667%;
    left: auto;
  }

  .xlarge-push-2 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .xlarge-pull-2 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .xlarge-push-3 {
    position: relative;
    left: 12.5%;
    right: auto;
  }

  .xlarge-pull-3 {
    position: relative;
    right: 12.5%;
    left: auto;
  }

  .xlarge-push-4 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .xlarge-pull-4 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .xlarge-push-5 {
    position: relative;
    left: 20.83333%;
    right: auto;
  }

  .xlarge-pull-5 {
    position: relative;
    right: 20.83333%;
    left: auto;
  }

  .xlarge-push-6 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .xlarge-pull-6 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .xlarge-push-7 {
    position: relative;
    left: 29.16667%;
    right: auto;
  }

  .xlarge-pull-7 {
    position: relative;
    right: 29.16667%;
    left: auto;
  }

  .xlarge-push-8 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .xlarge-pull-8 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .xlarge-push-9 {
    position: relative;
    left: 37.5%;
    right: auto;
  }

  .xlarge-pull-9 {
    position: relative;
    right: 37.5%;
    left: auto;
  }

  .xlarge-push-10 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .xlarge-pull-10 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .xlarge-push-11 {
    position: relative;
    left: 45.83333%;
    right: auto;
  }

  .xlarge-pull-11 {
    position: relative;
    right: 45.83333%;
    left: auto;
  }

  .xlarge-push-12 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .xlarge-pull-12 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .xlarge-push-13 {
    position: relative;
    left: 54.16667%;
    right: auto;
  }

  .xlarge-pull-13 {
    position: relative;
    right: 54.16667%;
    left: auto;
  }

  .xlarge-push-14 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .xlarge-pull-14 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .xlarge-push-15 {
    position: relative;
    left: 62.5%;
    right: auto;
  }

  .xlarge-pull-15 {
    position: relative;
    right: 62.5%;
    left: auto;
  }

  .xlarge-push-16 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .xlarge-pull-16 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .xlarge-push-17 {
    position: relative;
    left: 70.83333%;
    right: auto;
  }

  .xlarge-pull-17 {
    position: relative;
    right: 70.83333%;
    left: auto;
  }

  .xlarge-push-18 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .xlarge-pull-18 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .xlarge-push-19 {
    position: relative;
    left: 79.16667%;
    right: auto;
  }

  .xlarge-pull-19 {
    position: relative;
    right: 79.16667%;
    left: auto;
  }

  .xlarge-push-20 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .xlarge-pull-20 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .xlarge-push-21 {
    position: relative;
    left: 87.5%;
    right: auto;
  }

  .xlarge-pull-21 {
    position: relative;
    right: 87.5%;
    left: auto;
  }

  .xlarge-push-22 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .xlarge-pull-22 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  .xlarge-push-23 {
    position: relative;
    left: 95.83333%;
    right: auto;
  }

  .xlarge-pull-23 {
    position: relative;
    right: 95.83333%;
    left: auto;
  }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  .xlarge-1 {
    position: relative;
    width: 4.16667%;
  }

  .xlarge-2 {
    position: relative;
    width: 8.33333%;
  }

  .xlarge-3 {
    position: relative;
    width: 12.5%;
  }

  .xlarge-4 {
    position: relative;
    width: 16.66667%;
  }

  .xlarge-5 {
    position: relative;
    width: 20.83333%;
  }

  .xlarge-6 {
    position: relative;
    width: 25%;
  }

  .xlarge-7 {
    position: relative;
    width: 29.16667%;
  }

  .xlarge-8 {
    position: relative;
    width: 33.33333%;
  }

  .xlarge-9 {
    position: relative;
    width: 37.5%;
  }

  .xlarge-10 {
    position: relative;
    width: 41.66667%;
  }

  .xlarge-11 {
    position: relative;
    width: 45.83333%;
  }

  .xlarge-12 {
    position: relative;
    width: 50%;
  }

  .xlarge-13 {
    position: relative;
    width: 54.16667%;
  }

  .xlarge-14 {
    position: relative;
    width: 58.33333%;
  }

  .xlarge-15 {
    position: relative;
    width: 62.5%;
  }

  .xlarge-16 {
    position: relative;
    width: 66.66667%;
  }

  .xlarge-17 {
    position: relative;
    width: 70.83333%;
  }

  .xlarge-18 {
    position: relative;
    width: 75%;
  }

  .xlarge-19 {
    position: relative;
    width: 79.16667%;
  }

  .xlarge-20 {
    position: relative;
    width: 83.33333%;
  }

  .xlarge-21 {
    position: relative;
    width: 87.5%;
  }

  .xlarge-22 {
    position: relative;
    width: 91.66667%;
  }

  .xlarge-23 {
    position: relative;
    width: 95.83333%;
  }

  .xlarge-24 {
    position: relative;
    width: 100%;
  }

  .xlarge-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  .xlarge-offset-1 {
    position: relative;
    margin-left: 4.16667%;
  }

  .xlarge-offset-2 {
    position: relative;
    margin-left: 8.33333%;
  }

  .xlarge-offset-3 {
    position: relative;
    margin-left: 12.5%;
  }

  .xlarge-offset-4 {
    position: relative;
    margin-left: 16.66667%;
  }

  .xlarge-offset-5 {
    position: relative;
    margin-left: 20.83333%;
  }

  .xlarge-offset-6 {
    position: relative;
    margin-left: 25%;
  }

  .xlarge-offset-7 {
    position: relative;
    margin-left: 29.16667%;
  }

  .xlarge-offset-8 {
    position: relative;
    margin-left: 33.33333%;
  }

  .xlarge-offset-9 {
    position: relative;
    margin-left: 37.5%;
  }

  .xlarge-offset-10 {
    position: relative;
    margin-left: 41.66667%;
  }

  .xlarge-offset-11 {
    position: relative;
    margin-left: 45.83333%;
  }

  .xlarge-offset-12 {
    position: relative;
    margin-left: 50%;
  }

  .xlarge-offset-13 {
    position: relative;
    margin-left: 54.16667%;
  }

  .xlarge-offset-14 {
    position: relative;
    margin-left: 58.33333%;
  }

  .xlarge-offset-15 {
    position: relative;
    margin-left: 62.5%;
  }

  .xlarge-offset-16 {
    position: relative;
    margin-left: 66.66667%;
  }

  .xlarge-offset-17 {
    position: relative;
    margin-left: 70.83333%;
  }

  .xlarge-offset-18 {
    position: relative;
    margin-left: 75%;
  }

  .xlarge-offset-19 {
    position: relative;
    margin-left: 79.16667%;
  }

  .xlarge-offset-20 {
    position: relative;
    margin-left: 83.33333%;
  }

  .xlarge-offset-21 {
    position: relative;
    margin-left: 87.5%;
  }

  .xlarge-offset-22 {
    position: relative;
    margin-left: 91.66667%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .column.xlarge-centered,
  .columns.xlarge-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  .column.xlarge-uncentered,
  .columns.xlarge-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }

  .column.xlarge-uncentered.opposite,
  .columns.xlarge-uncentered.opposite {
    float: right !important;
  }
}
@media only screen and (min-width: 120.063em) {
  .xxlarge-push-1 {
    position: relative;
    left: 4.16667%;
    right: auto;
  }

  .xxlarge-pull-1 {
    position: relative;
    right: 4.16667%;
    left: auto;
  }

  .xxlarge-push-2 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .xxlarge-pull-2 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .xxlarge-push-3 {
    position: relative;
    left: 12.5%;
    right: auto;
  }

  .xxlarge-pull-3 {
    position: relative;
    right: 12.5%;
    left: auto;
  }

  .xxlarge-push-4 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .xxlarge-pull-4 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .xxlarge-push-5 {
    position: relative;
    left: 20.83333%;
    right: auto;
  }

  .xxlarge-pull-5 {
    position: relative;
    right: 20.83333%;
    left: auto;
  }

  .xxlarge-push-6 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .xxlarge-pull-6 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .xxlarge-push-7 {
    position: relative;
    left: 29.16667%;
    right: auto;
  }

  .xxlarge-pull-7 {
    position: relative;
    right: 29.16667%;
    left: auto;
  }

  .xxlarge-push-8 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .xxlarge-pull-8 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .xxlarge-push-9 {
    position: relative;
    left: 37.5%;
    right: auto;
  }

  .xxlarge-pull-9 {
    position: relative;
    right: 37.5%;
    left: auto;
  }

  .xxlarge-push-10 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .xxlarge-pull-10 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .xxlarge-push-11 {
    position: relative;
    left: 45.83333%;
    right: auto;
  }

  .xxlarge-pull-11 {
    position: relative;
    right: 45.83333%;
    left: auto;
  }

  .xxlarge-push-12 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .xxlarge-pull-12 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .xxlarge-push-13 {
    position: relative;
    left: 54.16667%;
    right: auto;
  }

  .xxlarge-pull-13 {
    position: relative;
    right: 54.16667%;
    left: auto;
  }

  .xxlarge-push-14 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .xxlarge-pull-14 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .xxlarge-push-15 {
    position: relative;
    left: 62.5%;
    right: auto;
  }

  .xxlarge-pull-15 {
    position: relative;
    right: 62.5%;
    left: auto;
  }

  .xxlarge-push-16 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .xxlarge-pull-16 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .xxlarge-push-17 {
    position: relative;
    left: 70.83333%;
    right: auto;
  }

  .xxlarge-pull-17 {
    position: relative;
    right: 70.83333%;
    left: auto;
  }

  .xxlarge-push-18 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .xxlarge-pull-18 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .xxlarge-push-19 {
    position: relative;
    left: 79.16667%;
    right: auto;
  }

  .xxlarge-pull-19 {
    position: relative;
    right: 79.16667%;
    left: auto;
  }

  .xxlarge-push-20 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .xxlarge-pull-20 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .xxlarge-push-21 {
    position: relative;
    left: 87.5%;
    right: auto;
  }

  .xxlarge-pull-21 {
    position: relative;
    right: 87.5%;
    left: auto;
  }

  .xxlarge-push-22 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .xxlarge-pull-22 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  .xxlarge-push-23 {
    position: relative;
    left: 95.83333%;
    right: auto;
  }

  .xxlarge-pull-23 {
    position: relative;
    right: 95.83333%;
    left: auto;
  }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  .xxlarge-1 {
    position: relative;
    width: 4.16667%;
  }

  .xxlarge-2 {
    position: relative;
    width: 8.33333%;
  }

  .xxlarge-3 {
    position: relative;
    width: 12.5%;
  }

  .xxlarge-4 {
    position: relative;
    width: 16.66667%;
  }

  .xxlarge-5 {
    position: relative;
    width: 20.83333%;
  }

  .xxlarge-6 {
    position: relative;
    width: 25%;
  }

  .xxlarge-7 {
    position: relative;
    width: 29.16667%;
  }

  .xxlarge-8 {
    position: relative;
    width: 33.33333%;
  }

  .xxlarge-9 {
    position: relative;
    width: 37.5%;
  }

  .xxlarge-10 {
    position: relative;
    width: 41.66667%;
  }

  .xxlarge-11 {
    position: relative;
    width: 45.83333%;
  }

  .xxlarge-12 {
    position: relative;
    width: 50%;
  }

  .xxlarge-13 {
    position: relative;
    width: 54.16667%;
  }

  .xxlarge-14 {
    position: relative;
    width: 58.33333%;
  }

  .xxlarge-15 {
    position: relative;
    width: 62.5%;
  }

  .xxlarge-16 {
    position: relative;
    width: 66.66667%;
  }

  .xxlarge-17 {
    position: relative;
    width: 70.83333%;
  }

  .xxlarge-18 {
    position: relative;
    width: 75%;
  }

  .xxlarge-19 {
    position: relative;
    width: 79.16667%;
  }

  .xxlarge-20 {
    position: relative;
    width: 83.33333%;
  }

  .xxlarge-21 {
    position: relative;
    width: 87.5%;
  }

  .xxlarge-22 {
    position: relative;
    width: 91.66667%;
  }

  .xxlarge-23 {
    position: relative;
    width: 95.83333%;
  }

  .xxlarge-24 {
    position: relative;
    width: 100%;
  }

  .xxlarge-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  .xxlarge-offset-1 {
    position: relative;
    margin-left: 4.16667%;
  }

  .xxlarge-offset-2 {
    position: relative;
    margin-left: 8.33333%;
  }

  .xxlarge-offset-3 {
    position: relative;
    margin-left: 12.5%;
  }

  .xxlarge-offset-4 {
    position: relative;
    margin-left: 16.66667%;
  }

  .xxlarge-offset-5 {
    position: relative;
    margin-left: 20.83333%;
  }

  .xxlarge-offset-6 {
    position: relative;
    margin-left: 25%;
  }

  .xxlarge-offset-7 {
    position: relative;
    margin-left: 29.16667%;
  }

  .xxlarge-offset-8 {
    position: relative;
    margin-left: 33.33333%;
  }

  .xxlarge-offset-9 {
    position: relative;
    margin-left: 37.5%;
  }

  .xxlarge-offset-10 {
    position: relative;
    margin-left: 41.66667%;
  }

  .xxlarge-offset-11 {
    position: relative;
    margin-left: 45.83333%;
  }

  .xxlarge-offset-12 {
    position: relative;
    margin-left: 50%;
  }

  .xxlarge-offset-13 {
    position: relative;
    margin-left: 54.16667%;
  }

  .xxlarge-offset-14 {
    position: relative;
    margin-left: 58.33333%;
  }

  .xxlarge-offset-15 {
    position: relative;
    margin-left: 62.5%;
  }

  .xxlarge-offset-16 {
    position: relative;
    margin-left: 66.66667%;
  }

  .xxlarge-offset-17 {
    position: relative;
    margin-left: 70.83333%;
  }

  .xxlarge-offset-18 {
    position: relative;
    margin-left: 75%;
  }

  .xxlarge-offset-19 {
    position: relative;
    margin-left: 79.16667%;
  }

  .xxlarge-offset-20 {
    position: relative;
    margin-left: 83.33333%;
  }

  .xxlarge-offset-21 {
    position: relative;
    margin-left: 87.5%;
  }

  .xxlarge-offset-22 {
    position: relative;
    margin-left: 91.66667%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .column.xxlarge-centered,
  .columns.xxlarge-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  .column.xxlarge-uncentered,
  .columns.xxlarge-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }

  .column.xxlarge-uncentered.opposite,
  .columns.xxlarge-uncentered.opposite {
    float: right !important;
  }
}
* {
  user-select: none;
}

html, body, main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #222222;
  text-rendering: optimizeLegibility;
  background-color: #fcfcfc;
}

#front-door {
  background-color: #222222;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  animation-name: fadeout;
  animation-delay: .29s;
  animation-duration: 1.45s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
main {
  padding: 36px 48px;
}

a {
  text-decoration: none;
}

.btn {
  border: 3px solid #222222;
  padding: 10px 20px 8px 20px;
  font-size: 15px;
  text-transform: uppercase;
}

textarea {
  border: 3px solid #222222;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
textarea:focus {
  outline: none;
}

button {
  border: 3px solid #222222;
  background-color: transparent;
}
button:focus {
  outline: none;
}
button:disabled {
  color: #a9a9a9;
}

.clear {
  clear: both;
}

.center {
  margin: 0 auto;
}

.container {
  height: 100%;
  position: relative;
}

#videos {
  padding-right: 12px;
}

.video {
  overflow: hidden;
  border: 3px #222222 solid;
  background-color: white;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.remote-stream {
  height: 61%;
}

#btns-and-local-stream {
  height: 39%;
  padding-bottom: 24px;
}

#brand-and-btns {
  height: 100%;
  position: relative;
  padding-right: 24px;
}

#brand-container {
  position: relative;
  height: calc(100% - 150px);
  width: 100%;
  z-index: 1;
  font-family: "europa";
  color: white;
  font-size: 35px;
  letter-spacing: 4px;
  background-color: #222222;
  overflow: hidden;
}

#brand {
  width: 100%;
  height: 100%;
  transition: transform .9s ease;
}

#brand .brand-side {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#brand .brand-side > span {
  align-self: center;
}

#brand-container:hover #brand {
  transform: translateY(-100%);
}

#social-media-icons {
  margin: 0 20px;
  font-size: 53px;
  width: 100%;
  text-align: center;
  margin-top: -3px;
}

#social-media-icons .icon {
  width: 33%;
  display: inline-block;
  margin-top: -5px;
}
#social-media-icons .icon a {
  color: white;
}

#btns {
  padding-top: 24px;
  height: 150px;
}

#auth-btn {
  height: 50%;
  width: 100%;
  border: 3px solid #222222;
  border-bottom: 2px solid #222222;
  display: flex;
  justify-content: center;
  background-color: white;
}

#auth-btn a, #auth-btn span {
  font-family: "europa";
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: 17px;
  color: #222222;
  align-self: center;
}

#chat-btns .btn {
  background-color: white;
  text-align: center;
  display: inline-block;
  width: 50%;
  height: 100%;
  border: none;
  padding: 0;
}
#chat-btns .btn button {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border: none;
  font-family: "europa";
  font-size: 17px;
  color: #222222;
}
#chat-btns .btn button:disabled {
  color: #aaa;
  cursor: default;
}

#chat-btns .btn.half {
  position: relative;
  width: 25%;
}

#chat-btns .btn + .btn {
  border-left: 3px solid #222222;
}

#chat-btns-wrapper {
  height: 50%;
  width: 100%;
  border: 3px solid #222222;
  border-top: 1px solid #222222;
  overflow: hidden;
}

#chat-btns {
  width: 200%;
  height: 100%;
}

#chat-btns #first-chat-btn.half-add {
  transition: 1.2s;
  width: 50%;
}

#chat-btns #first-chat-btn.half-add-active {
  width: 25%;
}

#chat-btns #first-chat-btn.half-remove {
  transition: .8s;
  width: 25%;
}

#chat-btns #first-chat-btn.half-remove-active {
  width: 50%;
}

.local-stream {
  height: 100%;
}

#chat {
  padding-left: 12px;
}

#msgs {
  background-color: white;
  overflow-y: scroll;
  height: calc(100% - 75px);
  border: 3px solid #222222;
  border-bottom: none;
}

#send-msg-form {
  border: 3px solid #222222;
  background-color: white;
  width: 100%;
  height: 75px;
}

#send-msg-form textarea {
  resize: none;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  padding: 12px 20px;
  font-size: 14px;
  border: none;
  font: -webkit-control;
  min-height: 0;
}

#msgs .msg:first-child {
  margin-bottom: 10px;
}

#msgs .msg:last-child {
  margin-bottom: 15px;
}

.msg {
  font-size: 14px;
  position: relative;
}
.msg.new-msger {
  margin-top: 15px;
}

.msg-info .msg-username, .msg-info .msg-time, .msg .msg-payload {
  user-select: text;
}

.msg-info {
  position: absolute;
  width: 54px;
  top: 6px;
  font-size: 12px;
  text-align: right;
  padding-left: 13px;
  font-weight: bold;
}

.msg-info .msg-time {
  display: none;
}

.msg .msg-payload {
  padding: 4px 20px;
  line-height: 19px;
  margin-left: 60px;
  text-indent: -13px;
}

/*# sourceMappingURL=main.css.map */