@import 'foundation/components/grid';
$dark-color: #222;

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
}

main {
  background: rgb(41,49,99); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(41,49,99,1) 0%, rgba(47,61,117,1) 17%, rgba(84,92,162,1) 27%, rgba(135,132,194,1) 37%, rgba(166,151,211,1) 49%, rgba(215,183,221,1) 59%, rgba(246,215,210,1) 77%, rgba(246,207,192,1) 86%, rgba(232,145,102,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,49,99,1)), color-stop(17%,rgba(47,61,117,1)), color-stop(27%,rgba(84,92,162,1)), color-stop(37%,rgba(135,132,194,1)), color-stop(49%,rgba(166,151,211,1)), color-stop(59%,rgba(215,183,221,1)), color-stop(77%,rgba(246,215,210,1)), color-stop(86%,rgba(246,207,192,1)), color-stop(100%,rgba(232,145,102,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(41,49,99,1) 0%,rgba(47,61,117,1) 17%,rgba(84,92,162,1) 27%,rgba(135,132,194,1) 37%,rgba(166,151,211,1) 49%,rgba(215,183,221,1) 59%,rgba(246,215,210,1) 77%,rgba(246,207,192,1) 86%,rgba(232,145,102,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(41,49,99,1) 0%,rgba(47,61,117,1) 17%,rgba(84,92,162,1) 27%,rgba(135,132,194,1) 37%,rgba(166,151,211,1) 49%,rgba(215,183,221,1) 59%,rgba(246,215,210,1) 77%,rgba(246,207,192,1) 86%,rgba(232,145,102,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(41,49,99,1) 0%,rgba(47,61,117,1) 17%,rgba(84,92,162,1) 27%,rgba(135,132,194,1) 37%,rgba(166,151,211,1) 49%,rgba(215,183,221,1) 59%,rgba(246,215,210,1) 77%,rgba(246,207,192,1) 86%,rgba(232,145,102,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(41,49,99,1) 0%,rgba(47,61,117,1) 17%,rgba(84,92,162,1) 27%,rgba(135,132,194,1) 37%,rgba(166,151,211,1) 49%,rgba(215,183,221,1) 59%,rgba(246,215,210,1) 77%,rgba(246,207,192,1) 86%,rgba(232,145,102,1) 100%); /* W3C */
  display: flex;
  height: 100%;
  width: 100%;
}

.slide {
  align-self: center;
  margin: 0 30px;
}

.slide > p {
  font-size: 18px;
  color: white;
  font-weight: 500;
  line-height: 23px;
  -webkit-font-smoothing: antialiased;
  &:first-child {
    margin-top: 0;
  }
}

.js-hide {
  display: none;
}

.slide > a {
  -webkit-font-smoothing: antialiased;
  color: #495298;
  font-size: 16px;
  &:visited {
    color: #495298;
  }
}

#slide-1 p:first-of-type {
  margin-top: 12px;
}

#slide-1-logo {
  width: intrinsic;
  padding: 10px 14px;
  background-color: $dark-color;
  font-family: "europa";
  color: white;
  font-size: 26px;
  letter-spacing: 3px;
  text-align: center;
}