<!DOCTYPE html>
<!-- [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!-- [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!-- [if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- [if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>BONFIRE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
    <script type="text/javascript" src="//use.typekit.net/vzw7rfm.js"></script>
    <script type="text/javascript">
      try{Typekit.load();}catch(e){}
      
    </script>
    <!-- build:css(.tmp) styles/main.css-->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild-->
  </head>
  <body ng-app="bonfireApp"><!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]--><!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <div id="fb-root"></div>
    <div id="front-door" front-door></div>
    <main ng-controller="ChatCtrl" onbeforeunload="onbeforeunload" onblur="onblur" onfocus="onfocus">
      <div id="videos" class="container large-12 left">
        <div id="btns-and-local-stream" class="large-24">
          <div id="brand-and-btns" class="large-11 left">
            <div id="brand-container">
              <div id="brand">
                <div class="brand-side"><span>BONFIRE</span></div>
                <div class="brand-side"><span id="social-media-icons"><span class="icon"><a href="/twitter" class="social-icon-twitter"></a></span><span class="icon"><a href="/facebook" class="social-icon-facebook"></a></span><span class="icon"><a href="/mail" class="normal-icon-mail"></a></span></span></div>
              </div>
            </div>
            <div id="btns">
              <div id="auth-btn"><a ng-show="auth.isLoggingIn">Logging in...</a><a ng-click="auth.login()" ng-show="!auth.isLoggedIn &amp;&amp; !auth.isLoggingIn">Login with Facebook</a><a ng-click="auth.logout()" ng-show="auth.isLoggedIn">Logout</a></div>
              <div id="chat-btns-wrapper">
                <div id="chat-btns">
                  <div id="first-chat-btn" ng-class="{half: videoChat.isAvailable}" class="btn">
                    <button ng-hide="videoChat.isAvailable" ng-disabled="!auth.isLoggedIn" ng-click="videoChat.callFirstPartner()">Start</button>
                    <button ng-show="videoChat.isAvailable" ng-click="videoChat.stopChatting()">Stop</button>
                  </div>
                  <div id="second-chat-btn" class="btn half">
                    <button ng-click="videoChat.hangUp()" ng-disabled="!videoChat.isChatting">Next</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <video-stream stream="videoChat.streams.local" class="large-13 right"></video-stream>
        </div>
        <video-stream stream="videoChat.streams.remote"></video-stream>
      </div>
      <div id="chat" class="container large-12 right">
        <div id="msgs" scroll-to-bottom-when-changed="videoChat.msgs">
          <div ng-repeat="msg in videoChat.msgs" ng-class="{new-msger: videoChat.changeInMsger($index)}" class="msg">
            <div ng-if="videoChat.changeInMsger($index)" class="msg-info">
              <div class="msg-username">{{ msg.username }}</div>
              <div class="msg-time">{{ msg.time | date:'h:mm a' | lowercase }}</div>
            </div>
            <div class="msg-payload">{{ msg.payload }}</div>
          </div>
        </div>
        <form id="send-msg-form" ng-submit="videoChat.sendMsg($event)">
          <msg-textarea ng-model="videoChat.msg" placeholder="{{videoChat.msgPlaceholder}}" ng-disabled="!videoChat.isChatting"></msg-textarea>
        </form>
      </div>
    </main>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
      
    </script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- build:js({.tmp,app}) scripts/scripts.js-->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/vline.js"></script>
    <script src="scripts/services/video_chat.js"></script>
    <script src="scripts/services/chat_queue.js"></script>
    <script src="scripts/services/facebook.js"></script>
    <script src="scripts/services/auth.js"></script>
    <script src="scripts/directives/video_stream.js"></script>
    <script src="scripts/directives/scroll_to_bottom_when_changed.js"></script>
    <script src="scripts/directives/msg_textarea.js"></script>
    <script src="scripts/directives/on.js"></script>
    <script src="scripts/directives/front_door.js"></script>
    <script src="scripts/controllers/chat.js"></script>
    <script src="scripts/vendor/vline.js"></script>
    <!-- endbuild-->
  </body>
</html>