//- FB JS SDK attaches to #fb-root
#fb-root

//- directive is not elem because css's gotta render on page load
#front-door(front-door)

main(ng-controller="ChatCtrl", onbeforeunload="onbeforeunload", onblur="onblur", onfocus="onfocus")

  #videos.container.large-12.medium-12.small-12.left
    #btns-and-local-stream.large-24.medium-24.small-24
      #brand-and-btns.large-11.medium-11.small-11.left
        #brand-container
          #brand
            .brand-side
              #beta-whitespace
              #beta-ribbon
                span#beta BETA
              span 6AM CHAT

        #btns
          #stop-n-go-btns-wrapper
            #stop-n-go-btns(ng-class="{showStop: videoChat.isAvailable}")
              button#start-btn(ng-click="auth.login()", ng-disabled="!videoChat.isSupported") Start
              button(ng-click="auth.logout()") Stop

          #next-btn
            button(ng-click='videoChat.hangUp()', ng-disabled='!videoChat.isChatting') Next

      video-stream(stream="videoChat.streams.local", class="large-13 medium-13 small-13 right")

    video-stream(stream="videoChat.streams.remote", class="relative")
      .spinner(ng-if="videoChat.isAvailable && !videoChat.isChatting")
        .bounce1
        .bounce2
        .bounce3

  #chat.container.large-12.medium-12.small-12.right
    #chat-border
      #on-ramp(ng-if="!videoChat.isAvailable", ng-switch="videoChat.isSupported")
        #gradient
        #gradient-shadows
        #landing-page(ng-switch-when="true")
          h1 Chat with a random<br>person from around the<br>world into the wee hours<br>of the morning.
          h2 Turn on your webcam<br><span>{{ (auth.isLoggingIn || auth.isLoggedIn) ? "by" : "and" }}</span>
            .slide-btn-container(ng-click="auth.login()")
              .slide-btn
                .slide-btn-side
                  {{ (auth.isLoggingIn || auth.isLoggedIn) ? loggingInMsg : "meet new people!" }}
                .slide-btn-side
                  {{ (auth.isLoggingIn || auth.isLoggedIn) ? loggingInMsg : "meet new people!" }}
        #browser-issue(ng-switch-when="false")
          h1 Oh no! It looks like your browser isn't supported.
          h2 The technology we use for you to be able to use your webcam is very new. Unfortunately this means your browser has to be one of these.
          .browser
            a(href="https://www.google.com/intl/en/chrome/browser/", target="_blank")
              img(src="images/browser_icons/chrome_512x512.png")
            span 31.0+
          .browser
            a(href="https://www.mozilla.org/en-US/firefox/new/", target="_blank")
              img(src="images/browser_icons/firefox_512x512.png")
            span 28.0+
          .browser
            a(href="http://www.opera.com/", target="_blank")
              img(src="images/browser_icons/opera_512x512.png")
            span 21.0+
          a.slide-btn-container(href="https://www.google.com/intl/en/chrome/browser/", target="_blank")
            .slide-btn
              .slide-btn-side Upgrade Your Browser Now
              .slide-btn-side Upgrade Your Browser Now

      #msgs(scroll-to-bottom-when-changed="videoChat.msgs", ng-show="videoChat.isAvailable")
        .msg(ng-repeat="msg in videoChat.msgs", ng-class="{self: msg.sentBySelf}")
          .msg-payload(ng-if="msg.html", ng-bind-html="msg.payload")
          .msg-payload(ng-if="!msg.html") {{ msg.payload }}

      form#send-msg-form(ng-submit="videoChat.sendMsg($event)", ng-show="videoChat.isAvailable")
        msg-textarea(ng-model="videoChat.msg",
                     placeholder="{{videoChat.msgPlaceholder}}",
                     ng-disabled="!videoChat.isChatting")