//- FB JS SDK attaches to #fb-root
#fb-root

//- directive is not elem because css's gotta render on page load
#front-door(front-door)

main(ng-controller="ChatCtrl", onbeforeunload="onbeforeunload", onblur="onblur", onfocus="onfocus")

  #videos.container.large-12.medium-12.small-12.left
    #btns-and-local-stream.large-24.medium-24.small-24
      #brand-and-btns.large-11.medium-11.small-11.left
        #brand-container
          #brand
            .brand-side
              #beta-whitespace
              #beta-ribbon
                span#beta BETA
              span 6AM CHAT

        #btns
          #stop-n-go-btns-wrapper
            #stop-n-go-btns(ng-class="{showStop: videoChat.isAvailable}")
              button#start-btn(ng-click="auth.login()") Start
              button(ng-click="auth.logout()") Stop

          #next-btn
            button(ng-click='videoChat.hangUp()', ng-disabled='!videoChat.isChatting') Next

      video-stream(stream="videoChat.streams.local", class="large-13 medium-13 small-13 right")

    video-stream(stream="videoChat.streams.remote", class="relative")
      .spinner(ng-if="videoChat.isAvailable && !videoChat.isChatting")
        .bounce1
        .bounce2
        .bounce3

  #chat.container.large-12.medium-12.small-12.right
    #chat-border
      #landing-page(ng-if="!videoChat.isAvailable")
        #gradient
        #gradient-shadows
        h1 Chat with a random person from around the world into the wee hours of the morning.
        h2 Turn on your webcam<br><span>{{ (auth.isLoggingIn || auth.isLoggedIn) ? "by" : "and" }}</span>
          #login-container(ng-click="auth.login()")
            #login
              .login-side
                {{ (auth.isLoggingIn || auth.isLoggedIn) ? "clicking Allow..." : "meet new people!" }}
              .login-side
                {{ (auth.isLoggingIn || auth.isLoggedIn) ? "clicking Allow..." : "meet new people!" }}

      #msgs(scroll-to-bottom-when-changed="videoChat.msgs", ng-show="videoChat.isAvailable")
        .msg(ng-repeat="msg in videoChat.msgs", ng-class="{self: msg.sentBySelf, newmsger: videoChat.changeInMsger($index)}")
          .msg-payload(ng-if="msg.html", ng-bind-html="msg.payload")
          .msg-payload(ng-if="!msg.html") {{ msg.payload }}

      form#send-msg-form(ng-submit="videoChat.sendMsg($event)", ng-show="videoChat.isAvailable")
        msg-textarea(ng-model="videoChat.msg",
                     placeholder="{{videoChat.msgPlaceholder}}",
                     ng-disabled="!videoChat.isChatting")