//- FB JS SDK attaches to #fb-root
#fb-root

//- directive is not elem because css's gotta render on page load
#front-door(front-door)

main(ng-controller="ChatCtrl", onbeforeunload="onbeforeunload", onblur="onblur", onfocus="onfocus")

  #videos.container.large-12.medium-12.small-12.left
    #btns-and-local-stream.large-24.medium-24.small-24
      #brand-and-btns.large-11.medium-11.small-11.left
        #brand-container
          #brand
            .brand-side
              span BONFIRE
            .brand-side
              span#social-media-icons
                span.icon
                  a(href="/twitter").social-icon-twitter
                span.icon
                  a(href="/facebook").social-icon-facebook
                span.icon
                  a(href="/mail").normal-icon-mail

        #btns
          #auth-btn
            button(ng-click="auth.logout()", ng-disabled="!auth.isLoggedIn") Logout

          #chat-btns-wrapper
            #chat-btns
              .btn#first-chat-btn(ng-class='{half: videoChat.isAvailable}')
                button( ng-hide="videoChat.isAvailable",
                      ng-disabled="!auth.isLoggedIn",
                      ng-click="videoChat.callFirstPartner()" ) Start
                button(ng-show="videoChat.isAvailable", ng-click='videoChat.stopChatting()') Stop
              .btn#second-chat-btn.half
                button(ng-click='videoChat.hangUp()', ng-disabled='!videoChat.isChatting') Next

      video-stream(stream="videoChat.streams.local", class="large-13 medium-13 small-13 right")

    video-stream(stream="videoChat.streams.remote")

  #chat.container.large-12.medium-12.small-12.right
    #chat-border
      #msgs(scroll-to-bottom-when-changed="videoChat.msgs")
        #landing-page(ng-hide="auth.isLoggedIn")
          h1 Chat with a person halfway around the world into the wee hours of the morning.
          h2 Sign in with Facebook, turn on<br>your webcam and microphone,<br>and meet new people!
            #fb-login(ng-click="auth.login()")
              img#fb-login-icon(src="images/fb-icon.png")
              span Sign in with Facebook
        .msg(ng-repeat="msg in videoChat.msgs", ng-class="{new-msger: videoChat.changeInMsger($index)}")
          .msg-info(ng-if="videoChat.changeInMsger($index)")
            .msg-username{{ msg.username }}
            .msg-time{{ msg.time | date:'h:mm a' | lowercase }}
          .msg-payload{{ msg.payload }}

      form#send-msg-form(ng-submit="videoChat.sendMsg($event)", ng-show="auth.isLoggedIn")
        msg-textarea( ng-model="videoChat.msg",
                      placeholder="{{videoChat.msgPlaceholder}}",
                      ng-disabled="!videoChat.isChatting" )
